/* aanmaak datum:25/09/2019, 14:00,                   
author: Mohamad Dian*/
/* ----CSS Tools: Reset CSS---- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ margin: 0;	padding: 0;	border: 0; font-size: 100%;	font: inherit; vertical-align: baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display: block;} body{ line-height: 1.5;} ol, ul{ list-style: none;} blockquote, q{ quotes: none;} blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none;} table{	border-collapse: collapse; border-spacing: 0;}

/* ----start-standard--- */
:focus{
   outline: none;
  /*font-size: 15px; */
  border-bottom:  1px double var(--main-color-1);
  box-shadow: inset 0 15px 20px -15px var(--main-color-2);
  border-radius: 8px;
}
:root{
  --main-color-1: #007e00; /* green */
  --main-color-2: #df9100; /* orange */
  --main-color-3: #ffffff; /* white */
  --main-color-4: #ff0000; /* red */
  --main-color-5: #0000FF; /* blue */
}
body{
  background-color: var(--main-color-3);
  background-image: url("../images/background.png");
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
  overflow-x: hidden;
  margin-bottom: 30px;
  
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color-3);
  border-left: 2px solid var(--main-color-1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  border: 2px solid var(--main-color-1);
}
/* ----einde - standard---- */

/* ----start - navbar---- */
nav{
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;    
  padding: 0 !important;  
  margin-bottom: 10px;
  box-shadow: 0 15px 20px -15px var(--main-color-2);
  /*box-shadow: 0 13px 25px -15px #000, inset 1px 1px 8px -2px #000; */
  background-color: var(--main-color-3);
  overflow: hidden;
}

nav ul{
  float: right;
}
nav ul li a{
  text-decoration: none;
  height: 12px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 20px 10px 10px !important;
  /* display: inline-block; */
  color: var(--main-color-1);
  border-bottom: 0px solid var(--main-color-1);

}
nav ul li a:hover,
nav ul li a:focus{
  color: var(--main-color-2);/* --1-- */
  border-radius: 5px;
}
nav header p{
  color: var(--main-color-1);
}
/* ----einde - navbar---- */

/* ----------------start--grid------------------------------ */
/* *{
  box-sizing: border-box;
} */
.row::after{
  content: "";
  clear: both;
  display: table;
}
[class*="col-"]{
  float: left;
  padding: 10px;
}

@media only screen and (min-width: 0px){/* For desktop: */
  .col-1{width:8.33%;}
  .col-2{width:16.66%;}
  .col-3{width:25%;}
  .col-4{width:33.33%;}
  .col-5{width:41.66%;}
  .col-6{width:50%;}
  .col-7{width:58.33%;}
  .col-8{width:66.66%;}
  .col-9{width:75%;}
  .col-10{width:83.33%;}
  .col-11{width:91.66%;}
  .col-12{width:100%;}
}
/* ----------------Einde--grid------------------------------ */